:root{
  --cor-fundo: #324B35;
  --cor-destaque: #35A043;
  --cor-texto: #ffffff;
  --cor-links: #3B7542
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.apresentacao{
  display: flex;
  margin: 10%;
  align-items: center;
  justify-content: space-between;
}

strong{
  color: var(--cor-destaque)
}

a{

}

.foto{
  height: 490px;
  width: 490px;
}